.module-button {
    width: 60px;
    height: 28px;
    padding: 2px 10px;
    background: rgb(45, 68, 67);
    color: lightyellow;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
}

.module-button:hover {
    background: lightyellow;
    color: rgb(3, 53, 50);
}

.module-danger-button {
    width: 60px;
    height: 25px;
    padding: 2px 10px;
    background: rgb(3, 53, 50);
    color: lightyellow;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
}

.module-danger-button:hover {
    background: darkred;
    color: black;
}

.module-container {
    flex-flow: column wrap;
    display: flex;
    width: 100%;
    position: relative;
    flex-grow: 1;
}

.module-inner-container {
    margin-left: 5px;
    overflow: auto;
    display: flex;
    width: calc(100% - 10px);
    flex-wrap: wrap;
    flex-grow: 1;
    height: calc(-150px + 100vh);
}

.module-status {
    font-size: 95%;
    color: lightgray;
    mix-blend-mode: difference;
    filter: drop-shadow(0.05em 0.05em green);
}

.grid-layout {
    max-height: calc(100vh - 100px);
    flex-direction: column;
    max-width: 100%;
    display: flex;
    flex-grow: 100;
}
